<h1>Hello world</h1>

<h1>Articles</h1>
<ul>
  <% @articles.each do |article| %>
    <li>
        <%= link_to article, article %>
    </li>
    <li>
      <%= link_to article.title, article %>
    </li>
    <li>
      <%= article.body %>
    </li>
    <br>
  <% end %>
</ul>

<h1>Create New Articles</h1>
<%= link_to "New Article", new_article_path %>
