Viewing Article:  <%= @article %>
<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<!-- Extends this page with edit page /edit.html.erb -->
<h3>Edit this Articles</h3>
<%= link_to "Frontpage", articles_path %>
 | 
<%= link_to "Edit", edit_article_path(@article) %>
 | 
<%= link_to "Delete", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>


<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>